body {
    
    background-image: url('Background.png');
    background-repeat: no-repeat;
    background-size: cover;

    
    font-family: '', cursive, sans-serif;
    font-size: 14px;
    color: black;
    
    
    cursor: url('Fortnite.png'), auto;
    
    
    margin: 20px;
    padding: 10px;
    
}


#main-container {
    width: 90%;
    margin: 10px auto; 
    padding: 15px; 
    background-color: #C0C0C0;
    box-shadow: 50px, black;
    border: 5px outset rgb(12, 16, 135);
    color: #000000;
}

h1 {
    color: rgb(40, 148, 211);
    text-align: center;
    
    text-shadow: 2px 2px #0000FF;
    font-size: 2.5em;
    
    padding-bottom: 5px;
    margin-bottom: 20px;
}

h2 {
    color: rgb(34, 165, 230);
    border-bottom: 2px solid #1d56d2;
    padding-top: 15px;
}


img {
    display: block;
    margin: 10px auto;
    
    border: 3px dashed #192a94; 
}

a {
    color: blue;
    text-decoration: underline;
    font-size: 1.1em;
}


table {
    border-collapse: collapse;
    width: 80%;
    margin: 15px auto;
}

td {
    border: 1px solid #000000;
    padding: 8px;
}